*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter';
    min-height: 100vh;
}

main{
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}

.container{
    background: hsl(0, 0%, 12%);
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    padding: 24px;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: auto;
}

.container img{
    border-radius: 50%;
    width: 85px;
    display: block;
}


.container h1{
    color: white;
    font-weight: 700;
    font-size: 19px;
    margin-top: 22px;
    margin-bottom: 7px;

}  

.container h3{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 14px;
}

.container p{
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-top: 25px;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}


.social-links a{
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    color: white;
    width: 248px;
    height: 40px;
    padding: 10px 12px;
    text-align: center;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
}

.social-links a:hover{
    background-color: hsl(75, 94%, 57%);
    transition: background-color 0.3s ease;
    color: hsl(0, 0%, 8%);
}
.attribution{
    text-align: center;
    font-size: 14px;
    color: hsl(0, 0%, 20%);
    margin-top: 10px;
    padding-bottom: 12px;
}

.attribution a { 
    color:hsl(75, 94%, 57%); 

}


